---
import CrossfitCalendar from '../components/CrossfitCalendar';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendario de Entrenamientos</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main class="p-3">
      <CrossfitCalendar client:load />
    </main>
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
  }
  main {
    height: 100vh;
    width: 100vw;
  }
</style>