---
const days = [
  { day: 'Mon', date: 12 },
  { day: 'Tue', date: 13 },
  { day: 'Wed', date: 14 },
  { day: 'Thu', date: 15 },
  { day: 'Fri', date: 16 },
  { day: 'Sat', date: 17 },
  { day: 'Sun', date: 18 },
];
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Programación CrossFit</title>
	</head>
	<body class="w-full h-screen flex flex-col justify-center items-center">
		
		<!-- Header - Title --> 
		<header class="text-slate-950 text-5xl font-bold">
			<h1>Programación CrossFit </h1>
		</header>

		<!-- Weekly Training Schedule -->
		<div class="w-full max-w-2xl">
			<div class="p-5 w-full">
				<div class="flex justify-center items-center my-7 gap-10">
					<svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
					<h3 class="text-xl font-bold">Weekly of Jule 12, 2024</h3>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
				</div>
			
				<div class="flex flex-col items-center">
					<div class="grid grid-cols-7 gap-10 w-4/5">
					  {days.map((item) => (
						<div class="flex flex-col items-center">
						  <span class="text-sm text-gray-500 font-medium">{item.day}</span>
						  <span class="text-xl font-bold">{item.date}</span>
						</div>
					  ))}
					</div>
				  </div>
				  <div class="mt-5">
					<h3 class=" font-bold text-lg">Monday, June 12</h3>
					<div class="ToggleContent cursor-pointer  transition duration-300 ease-in-out hover:bg-gray-100 hover:shadow-xl border border-solid divide-slate-500 p-6 rounded-lg shadow-lg">
					  <h4 class="font-bold">A) Clean & Jerk</h4>
					  <p class="text-[#6e6e77] hidden">
						For Time:<br>
						10 Clean &Jerks @ 52%<br>
						8 Clean &Jerks @ 60%<br>
						6 Clean &Jerks @ 69%<br>
						4 Clean &Jerks @ 77%<br>
						2 Clean &Jerks @ 85%
					</p>
					</div>
					<div class="ToggleContent cursor-pointer  transition duration-300 ease-in-out hover:bg-gray-100 hover:shadow-xl active:bg-gray-200 border border-solid divide-slate-500 p-6 mt-5 rounded-lg shadow-lg"> 
						<h4 class="font-bold">B) Front Squat</h4>
						<p class="text-[#6e6e77] hidden">
							Build To A Heavy Set of 5
					  	</p>
					</div>
					<div class="ToggleContent cursor-pointer  transition duration-300 ease-in-out hover:bg-gray-100 hover:shadow-xl border border-solid divide-slate-500 p-6 mt-5 rounded-lg shadow-lg">
						<h4 class="font-bold">C) Front Seat</h4>
						<p class="text-[#6e6e77] hidden">
						  For Time:<br>
						  20 Front Squats<br>
						  20 Bar-Facing Burpees<br>
						  20 Push Press<br>
						  20 Bar-Facing Burpees<br>
						  20 Thrusters<br><br>
						  
						  <span class="font-bold">Barbell: 52 / 38 kg</span>
					  </p>
					  </div>
		
				</div>
			</div>

		</div>
	<script type="module">
		function activeContent() {
    const toggleContents = document.querySelectorAll(".ToggleContent");

    toggleContents.forEach(toggleContent => {
        toggleContent.addEventListener("click", () => {
            const paragraph = toggleContent.querySelector('p');
            if (paragraph) {
                paragraph.classList.toggle('hidden');
            }
        });
    });
}
// Llama a la función cuando el DOM esté listo
document.addEventListener('DOMContentLoaded', activeContent);

		</script>
	</body>
	<style>
		body {
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}
	</style>
</html>