---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Programación CrossFit</title>
	</head>
	<body class="w-full h-screen bg-slate-800 flex justify-center items-center">
		<header class="text-white text-6xl font-bold">
			<h1>Programación CrossFit</h1>
		</header>
	</body>
	<style>
		body {
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}
	</style>
</html>
